---
import App from "../../cra-project/src/App.jsx";

// import Home from "../components/home/Home";
// import Header from "../components/header/Header";
// import Trailer from "../components/trailer/Trailer";
// import Reviews from "../components/reviews/Reviews";
// import NotFound from "../components/notFound/NotFound";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <App />
  </body>
</html>
